<nav class="flex justify-content-between mt-3">
  <div>
    <img class="logo" routerLink="/home" src="Moviehub_LOGO.svg" alt="logo">
  </div>
  <div class="flex">
    <div>
      <p-button routerLink="/feed" rounded="true" variant="text">Feed</p-button>
    </div>
    <div>
      <p-button routerLink="/reviews" rounded="true" variant="text" >My Reviews</p-button>
    </div>
    <div>
      <p-button routerLink="/lists" rounded="true" variant="text">My Lists</p-button>
    </div>
  </div>
  <div class="mr-3">
    <p-button routerLink="/login" class="mr-2" variant="outlined" rounded="true">Login</p-button>
    <p-button routerLink="/register" rounded="true">Register</p-button>
  </div>
</nav>

