<nav class="flex justify-content-between align-items-center px-4 py-3 navbar">

  <a routerLink="/home" class="flex align-items-center">
    <img class="logo" src="Moviehub_LOGO.svg" alt="MovieHub Logo">
  </a>

  <div class="flex gap-3 align-items-center">
    <p-button routerLink="/feed" label="Feed" variant="text" rounded="true" class="nav-button"></p-button>
    <p-button routerLink="/reviews" label="My Reviews" variant="text" rounded="true" class="nav-button"></p-button>
    <p-button routerLink="/lists" label="My Lists" variant="text" rounded="true" class="nav-button"></p-button>
  </div>

  <div class="flex gap-2 align-items-center">
    <p-button routerLink="/login" label="Login" variant="outlined" rounded="true" class="auth-button"></p-button>
    <p-button routerLink="/register" label="Register" rounded="true" class="auth-button register-button"></p-button>
  </div>
</nav>
