body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #1F2937, #000000);
  font-family: 'inter', sans-serif;
  color: white;
  overflow-x: hidden;
}


@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.glass-card {
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.3s ease;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 56px rgba(0, 0, 0, 0.5);
}

.glass-card:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 56px rgba(0, 0, 0, 0.5);
}



.p-inputtext:enabled:hover {
  border-color: rgba(255, 255, 255, 0.4);
}

.p-inputtext:enabled:focus {
  box-shadow: 0 0 0 0.2rem rgba(100, 181, 246, 0.25);
  border-color: #64dbf6;
}

.animate-fadein {
  animation: fadeIn 0.6s ease-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Responsive adjustments */
@media screen and (max-width: 576px) {
  .glass-card {
    width: 100% !important;
  }
}
