.imdb-logo {
  height: 25px;
}

p-card {
  background-color: transparent;
  max-width: 1080px;
}

.plot {
  font-family: montserrat;
  font-weight: 300;
  font-size: 14px;
}

.details-poster {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
